.black-background {
  background: gray;
}
.card-image {
  margin: 5px 3px;
}
#container {
  padding: 1% 5%;
  margin-top: 8%;
  border-radius: 9px;
  border-bottom-left-radius: 95px;
  border-bottom-right-radius: 95px;
  width: 70%;
  background-image: url("/../img/felt.png");
  background-repeat: repeat;
  background-position: right top;
  border: 20px solid brown;
}

.bottom {
  clear: both;
}
#hello_world {
  color: white;
  text-align: center;
}
.btn.info {
  margin-left: 30px;
}
.btn {
  color: black;
}

#players_cards{
  width: 300px;
  float: left;
}

#dealers_cards {
  width: 300px;
  float: right;
}
.alert {
  width: 100%;
  text-align: center;
}

body {
  background: black;
}

#players_score {
  color: white;
}

#dealers_score {
  color: white;
}
